#table {
    width: 50%;
    margin-bottom: 20px;
    border: 15px solid #F2F8F8;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse;
}
#table th {
    font-weight: bold;
    padding: 5px;
    background: #F2F8F8;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}
#table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #F2F8F8;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    white-space: nowrap; /* Запрет переноса текста на новую строку */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    white-space: nowrap; /* Запрет переноса текста на новую строку */
}

.active-button {
    color: #b4125a;
}

.form-create-account {
    width: 7%;
}

.size-input {
    width: 140px
}

.block-right {
    margin-left: 80%;
}






